In [1]:
# 1.there are basically two way for commenting  codes in python which are such as
 # this is single line comment
"""
this is a comment
which is written 
more than one line
"""

'\nthis is a comment\nwhich is written \nmore than one line\n'

In [2]:
# 2.variables are nothing but they are cantainer which stores the value
a=34
# here 'a' is a variable which stores the int type value(34)
b=45.6
#here 'b' is a variable which stores the float type value(45.6)
c=True
#here 'c' is a variable which stores the bool type value

In [3]:
# we can convert one data type into another data type something like this...
a=45.6


type(a)

float

In [8]:
#converting float data type into int data type
int(a)

45

In [9]:
b=45
#converting int data type into hexadecimal string
c=hex(45)
print(c)

0x2d

In [10]:
#converting int data type into octal string
d=oct(45)
print(d)

0o55

In [14]:
n="skills"
c=tuple(n)
print("after converting string into tuple" ,end=' ')
print(c)

after converting string into tuple ('s', 'k', 'i', 'l', 'l', 's')

In [15]:
c=list(n)
print("after converting string into list : " ,end=' ')
print(c)

after converting string into list :  ['s', 'k', 'i', 'l', 'l', 's']

In [ ]:
# 4. execution of python code using command line this is..
'''The most basic and easy way to run a Python script is by using the python command. You need to open a command line and type the word python followed by the path to your script file like this:

python first_script.py
Hello World!'''

In [17]:
#5. slicing the list
my_list = [1, 2, 3, 4, 5]
my_list[1:5]

[2, 3, 4, 5]

In [18]:
my_list[:5:1]

[1, 2, 3, 4, 5]

In [19]:
my_list[::]

[1, 2, 3, 4, 5]

In [20]:
my_list[-1:-4]

[]

In [21]:
my_list[-4:-1]

[2, 3, 4]

In [23]:
my_list[1:3]

[2, 3]

In [28]:
# 6. complex number is the combination of real number and integer number...
"""
we can assign 
a complex number like this
"""
a,b=(4,6)
c=complex(a,b)
print("complex number is:", c)
print("real part is:" , c.real)
print("imaginary part is:" , c.imag)

complex number is: (4+6j)
real part is: 4.0
imaginary part is: 6.0

In [29]:
# 7. the correct way to declare a variable named age and assign the value 25
a=25
print(a)

25

In [30]:
# 8. Declare a variable named price and assign the value 9.99
price=9.99
#it cantains float value
type(price)

float

In [33]:
#9. Create a variable named name and assign your full name to it as a string.
name="AZHARUDDIN ALAM"
print(name)

AZHARUDDIN ALAM

In [37]:
# 10.Given the string "Hello, World!", extract the substring "World".
st="Hello, World!"
st[6:12]

' World'

In [ ]:
#